<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
        <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
        <title>Eat-Da-Burger!</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    </head>

    <body>
        <div class="container">
            <div class="row align-items-start">
                <div class="header">
                    <img src="https://media.giphy.com/media/3oEdv5S8Th6b9gsNqM/giphy.gif">
                    <h1>CREATE A BURGER!</h1>
                    <p></p>
                </div>
                {{!-- end .row  --}}

                {{{ body }}}

            </div>
        </div>
        <hr>
        <!-- /container -->
        <footer class=" center footer">
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burgers.js"></script>
    </body>

</html>